{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ Title|default:"Houdini" }}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'blog/img/icon.ico' %}">
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'blog/css/main.css' %}">
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'blog/css/bootstrap.min.css' %}">
    <script src="{% static 'blog/js/bootstrap.bundle.js' %}"></script>
    <script src="https://kit.fontawesome.com/4687413802.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand ms-4 fst-italic fw-bold" href="{% url 'houdini-home' %}">Houdini</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav me-auto">

                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        <a class="btn ms-auto pt-3" href="{% url 'new-post' %}">
                            <i class="fa-solid fa-plus" style="color: white"></i>
                        </a>
                        <button class="btn ms-auto">
                            <i class="fa-regular fa-bell" style="color: white"></i>
                        </button>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{ user.profile.image.url }}"
                                     width="40" height="40" class="rounded-circle" alt="user-profile-img">
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="{% url 'users-profile' username=user.username %}">
                                    <i class="fa-solid fa-house-chimney"></i>
                                    Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'users-settings' %}">
                                    <i class="fa-solid fa-gear"></i>
                                    Settings</a></li>
                                <li><a class="dropdown-item" href="{% url 'users-logout' %}">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                    Logout</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <a class="nav-item nav-link me-auto" href="{% url 'users-login' %}">Login</a>
                        <a class="nav-item nav-link me-auto" href="{% url 'users-register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container d-flex flex-column min-vh-100">
    <div class="row">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock content %}
        </div>
        <div class="col-md-4">
            {% include 'blog/sidebar.html' %}
        </div>
    </div>
</main>
<footer class="mt-auto">
    <div class="text-center bg-secondary p-3">
        <a class="text-decoration-none p-3 text-white">Terms and Conditions</a>
        <a class="text-decoration-none p-3 text-white">Privacy policy</a>
    </div>
</footer>
</body>
</html>