{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <img src="{{ post.author.profile.image.url }}" width="30" height="30" class="rounded-circle">
                    <small><a class="mr-2 text-decoration-none text-info fw-bold"
                              href="{% url 'users-profile' username=post.author %}">{{ post.author }}</a></small>
                </div>
                <div class="text-center"><h3>{{ post.title }}</h3></div>
                <p class="article-content">{{ post.content }}</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque aut deserunt distinctio
                    dolore doloremque expedita, explicabo incidunt ipsum, magnam minus nulla officia quaerat reiciendis
                    reprehenderit sequi veritatis! Consequuntur corporis eveniet illum iste iusto labore laboriosam
                    magnam, molestias odit optio porro quisquam repellendus, temporibus, veniam voluptates. Aperiam
                    architecto aspernatur eveniet facere iste, itaque officiis provident qui voluptas? Debitis delectus
                    dolore eum excepturi illum itaque nam odio, sed sunt vel. Molestiae omnis quas sapiente unde
                    voluptatum? Adipisci, aliquid aspernatur atque aut debitis doloribus fugiat neque nostrum nulla quas
                    quos sint sit unde, veritatis vero. Architecto dignissimos harum iste, natus nulla quo.</p>
            </div>
            <hr>
        <small class="text-muted me-auto">{{ post.date_posted|date:"F d, Y" }}</small>
        </article>
    {% endfor %}
{% endblock content %}