{% extends 'blog/base.html' %}
{% block content %}
    <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <div class="ms-auto">
                        <img src="{{ post.author.profile.image.url }}" width="30" height="30" class="rounded-circle"
                             alt="user-profile-img">
                        <small>
                            <a class="mr-2 text-decoration-none text-info fw-bold"
                               href="{% url 'users-profile' post.author %}">{{ post.author }}</a>
                        </small>
                        <div class="float-end">
                            <div class="btn-group-vertical" role="group">
                                <button id="post-extra-button" type="button"
                                        class="btn dropdown-toogle"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="post-extra-button">
                                <li><a class="dropdown-item">Hide</a></li>
                                    {% if user.is_authenticated %}
                                        <li><a class="dropdown-item">Report</a></li>
                                        {% if user.is_authenticated and post.author == user %}
                                            <li><a class="dropdown-item" href="{% url 'post-update' post.id %}">Edit</a>
                                            <li><a class="dropdown-item text-bg-danger" href="{% url 'post-delete' post.id %}">Delete</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a class="text-decoration-none" href="{% url 'post-detail' post.id %}">
                        <h3>{{ post.title|title }}</h3>
                    </a>
                </div>
                <p class="article-content">{{ post.content }}</p>
            </div>
            <hr>
            <small class="text-muted me-auto">{{ post.date_posted|date:"F d, Y" }}</small>
            <div class="btn-group float-end mb-2" role="group">
                <button class="btn"><i class="fa-regular fa-heart"></i></button>
                <button class="btn"><i class="fa-regular fa-comment"></i></button>
                <button class="btn"><i class="fa-solid fa-share"></i></button>
            </div>
        </article>
{% endblock %}
